/* app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can leave these resets in place as needed */
html, body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  background-color: #ffffff; /* Crisp white background */
}
